<h3>Build Experiment Components</h3>

<div class="row">
    <div class="col-md-8">
        {{ace-editor value=asJSON aceInit=aceInit class="editor"}}
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <button class="btn btn-sm btn-danger" {{action 'toList'}}>Discard changes</button>
        <button class="btn btn-sm btn-primary" {{action 'save' asJSON}}>Save</button>
    </div>
</div>
