<h2>Responses</h2>
{{#bs-tab}}
  {{#bs-tab-pane title="Participant Data"}}
      {{participant-data sessions=model mappingFunction=sanitizeProfileId}}
  {{/bs-tab-pane}}
  {{#bs-tab-pane title="All Data"}}
      {{export-tool data=model mappingFunction=sanitizeProfileId}}
  {{/bs-tab-pane}}
{{/bs-tab}}
