<h2>Responses</h2>

<ul class="nav nav-tabs">
    {{#link-to "experiments.info.results.index" tagName="li"}}
        <a href="#">Suggested Studies</a>
    {{/link-to}}
    {{#link-to "experiments.info.results.all" tagName="li"}}
        <a href="#">Past Studies</a>
    {{/link-to}}
</ul>

{{outlet}}
