<h2>Responses</h2>

<ul class="nav nav-tabs">
    {{#link-to "experiments.info.results.index" tagName="li"}}
        <a href="#">Participant Data</a>
    {{/link-to}}
    {{#link-to "experiments.info.results.all" tagName="li"}}
        <a href="#">All Data</a>
    {{/link-to}}
</ul>

{{outlet}}
