<div class="row">
  <div class="col-xs-5">
    a_movie.mov
  </div>
  {{#if showDate}}
    <div class="col-xs-2 text-center">
      12/25/2015
    </div>
  {{/if}}
  <div class="col-xs-2 text-center">
    <button class="btn btn-default">Download</button>
  </div>
</div>
