<div class="col-md-8">
<div class="row">
  <div class="col-md-8">
    {{component currentFrameTemplate type=currentFrameId next=(action 'next') last=(action 'last') previous=(action 'previous') ctx=ctx data=currentFrameData id=currentFrameId params=currentFrame}}
  </div>
</div>
<div class="row">
  <button class="btn" {{action 'previous'}}>Last</button>
  <button class="btn" {{action 'next'}}>Next</button>
</div>
</div>
