<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#participantData">Participant Data</a></li>
  <li><a data-toggle="tab" href="#allData">All Data</a></li>
  <li><a data-toggle="tab" href="#allAttachments">All Attachments</a></li>
</ul>

<div class="tab-content">
  <div id="participantData" class="tab-pane fade in active">
    <h3>Participant Data</h3>
    {{participant-data}}
  </div>
  <div id="allData" class="tab-pane fade">
    <h3>All Data</h3>
    {{export-tool}}
  </div>
  <div id="allAttachments" class="tab-pane fade">
    {{all-attachments}}
  </div>
</div>
