<div class="row">
  <button {{action "loadData"}}>Load Data</button>
</div>
<div class="row text-center">
  <div class="col-xs-2 col-xs-offset-5 form-goup">
    <select class="form-control">
      <option>CSV</option>
      <option>JSON</option>
    </select>
  </div>
</div>
<div class="row text-center">
  {{textarea cols="80" rows="6" value=data}}
</div>
<div class="row text-center">
  <button>Download</button>
</div>
