<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Participant<i class="fa fa-sort btn"></i></th>
        <th>Date<i class="fa fa-sort btn"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>12/25/2015</td>
      </tr>
      <tr>
        <td>Mary Moe</td>
        <td>9/2/2015</td>
      </tr>
      <tr>
        <td>July Dooley</td>
        <td>12/25/2015</td>
      </tr>
    </tbody>
  </table>
</div> 
<div class="col-md-6">
  {{export-tool}}
</div>
