<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Participant<i class="fa fa-sort btn"></i></th>
        <th>Date<i class="fa fa-sort btn"></i></th>
      </tr>
    </thead>
    <tbody>
      {{#each sessions as |session|}}
        {{log session.timestamp}}
        <tr>
          <td>John Doe</td>
          <td>{{session.timestamp}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div> 
<div class="col-md-6">
  {{export-tool}}
  <div class="row">Attachments</div>
  {{attachment-download showDate=false}}
</div>
