<thead>
  <tr>
    <th>User Selector</th>
    <th width="5%">Add / remove</th>
  </tr>
</thead>
<tbody>
{{#each-in permissions as |user-selector permission|}}
  <tr>
    <td>{{user-selector}}</td>
    <td>
      <button {{action 'removePermission' user-selector}} class="btn btn-xs bg-red">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
{{/each-in}}
  <tr>
    <td>
      {{input value=newUserId type="text" class="form-control"}}
    </td>
    <td>
      <button {{action 'addPermission'}} class="btn btn-xs bg-black">
        <i class="fa fa-plus"></i>
      </button>
    </td>
  </tr>
</tbody>
