<thead>
  <tr>
    <th>User Selector</th>
    <th width="5%">Add / remove</th>
  </tr>
</thead>
<tbody>
{{#each usersList as |userId|}}
  <tr>
    <td>{{userId}}</td>
    <td>
      <button {{action 'removePermission' userId}} class="btn btn-xs btn-danger">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
{{/each}}
  <tr>
    <td>
      {{input value=newUserId type="text" class="form-control"}}
    </td>
    <td>
      <button {{action 'addPermission'}} class="btn btn-xs btn-success">
        <i class="fa fa-plus"></i>
      </button>
    </td>
  </tr>
</tbody>
