html,body,.ember-view, .container-fluid
{
    height: 100%;
}

.menu {
	background-color: #606060;
}

@media (min-width: 992px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #606060;
  }
}

.clickable {
	width: 100%;
	height: 100%;
}

.increase {
	font-size: 125%;
}

.logo {
	color: white;
	margin-bottom: 8%;
	padding-top: 20%;
}

.logo-title {
	color: white;
	margin-bottom: 45%;
	font-size: 200%;
	width: 100%;
}

.nav-divider {
	margin-bottom: 30%;
}

.title-divider {
	margin-bottom: 20%;
}

.logo-divider {
	margin-bottom: 30%;
}

.main-navigation {
	color: #606060;
	background-color: #c0c0c0;
	padding: 3%;
}

.selected {
	background-color: white; 
}

.main-navigation:hover {
	background-color: white;
	text-decoration: none;
}

.main-navigation:active {
	background-color: white;
	text-decoration: none;
}

a.main-navigation:active {
	background-color: white;
	text-decoration: none;
}

a.main-navigation:hover {
	color: orange;
	background-color: white;
	text-decoration: none;
}

a.sub-navigation {
	color: white;
	text-decoration: none;
	padding: 3%;
}

a.sub-navigation:visited {
	color: white;
	text-decoration: none;
}

a.sub-navigation:hover {
	color: orange;
	text-decoration: none;
}
