$large-width: 992px;
$small-width: 400px;
$background-dark: #606060;
$background-light: rgba(96, 96, 96, 0.15);

@import "components/experiment-detail";
@import "components/export-tool";
@import "components/multi-toggle";
@import "components/img-selector";
@import "components/ace-editor";
@import "components/permissions-editor";
@import "components/participant-creator";

@import "routes/experiments";
@import "routes/login";

/* application.hbs styles only! */

html,
body,
.ember-view,
.container-fluid {
    height: 100%;
}

.menu-expanded {
    background-color: $background-dark;
    @media (min-width: $large-width) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        background-color: $background-dark;
    }
}

.menu-collapsed {
    background-color: $background-dark;
    @media (min-width: $small-width) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        background-color: $background-dark;
    }
}

.clickable {
    width: 100%;
    height: 100%;
    padding: 12px;
}

.increase {
    font-size: 125%;
}

.increase-2 {
    font-size: 150%;
}

.increase-3 {
    font-size: 175%;
}

.increase-4 {
    font-size: 200%;
}

.logo {
    color: white;
    margin-bottom: 16px;
    padding-top: 40px;
}

.logo-title {
    color: white;
    margin-bottom: 80px;
    font-size: 200%;
    width: 100%;
}

.nav-divider {
    margin-bottom: 60px;
}

.title-divider {
    margin-bottom: 60px;
}

.logo-divider {
    margin-bottom: 30px;
}

.main-navigation {
    color: $background-dark;
    background-color: #c0c0c0;
}

.selected > .fa {
    background-color: white;
}

.main-navigation:hover {
    background-color: white;
    text-decoration: none;
}

.main-navigation:active {
    background-color: white;
    text-decoration: none;
}

a.main-navigation:active {
    background-color: white;
    text-decoration: none;
}

a.main-navigation:hover {
    color: orange;
    background-color: white;
    text-decoration: none;
}

a.sub-navigation {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 12px;
}

a.sub-navigation:visited {
    color: white;
    text-decoration: none;
}

a.sub-navigation:hover {
    color: orange;
    text-decoration: none;
}

.app-content {
    padding-left: 40px;
}
