html,body,.ember-view, .container-fluid
{
    height: 100%;
}

.menu-expanded {
	background-color: #606060;
}

.menu-collapsed {
	background-color: #606060;
}

@media (min-width: 992px) {
  .menu-expanded {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #606060;
  }
}

@media (min-width: 400px) {
  .menu-collapsed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #606060;
  }
}

.clickable {
	width: 100%;
	height: 100%;
	padding: 12px;
}

.increase {
	font-size: 125%;
}

.logo {
	color: white;
	margin-bottom: 16px;
	padding-top: 40px;
}

.logo-title {
	color: white;
	margin-bottom: 80px;
	font-size: 200%;
	width: 100%;
}

.nav-divider {
	margin-bottom: 60px;
}

.title-divider {
	margin-bottom: 60px;
}

.logo-divider {
	margin-bottom: 30px;
}

.main-navigation {
	color: #606060;
	background-color: #c0c0c0;
}

.selected {
	background-color: white; 
}

.main-navigation:hover {
	background-color: white;
	text-decoration: none;
}

.main-navigation:active {
	background-color: white;
	text-decoration: none;
}

a.main-navigation:active {
	background-color: white;
	text-decoration: none;
}

a.main-navigation:hover {
	color: orange;
	background-color: white;
	text-decoration: none;
}

a.sub-navigation {
	color: white;
	text-decoration: none;
	padding: 12px;
}

a.sub-navigation:visited {
	color: white;
	text-decoration: none;
}

a.sub-navigation:hover {
	color: orange;
	text-decoration: none;
}
