<div class="row">
<div class="col-xs-1">
  <h4>{{increment index 1}}</h4>
</div>
<div class="col-xs-9">
  <h4>{{title}}</h4>
</div>
<div class="col-xs-2">
  <i class="fa fa-2x fa-{{icon}}"></i>
</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{description}}</p>
  </div>
</div>
