.table-block {
	padding-top: 6px;
	padding-bottom: 6px;
}

.results {
	margin: 0px;
}

.button-block {
	padding-top: 2%;
	padding-bottom: 4%;
}

.ember-modal-dialog {
   max-width: 75%;
   max-height: 500px;
   min-height: 300px;
}

pre.preview-data {
    overflow: scroll;
    max-height: 65%;
}
