<div class="{{skin}} wrapper">

<header class="main-header">
  <!-- Logo -->
  {{#link-to "index" class="logo"}}
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>E</b> D</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Experimenter</b> Dashboard</span>
  {{/link-to}}

  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
    </div>
  </nav>
</header>

<aside class="main-sidebar">
	<section class="sidebar" style="height: auto;">

      <div class="user-panel" style="display: flex; justify-content: center;"></div>

	  <ul class="nav sidebar-menu">
	    <li class="header">Menu</li>
	    <li> {{#link-to 'dashboard'}}Dashboard{{/link-to}} </li>
	    <li> {{#link-to 'participants'}}Participants{{/link-to}} </li>
      <li> {{#link-to 'settings'}}Profile Settings{{/link-to}} </li>
      <li> {{#link-to 'creator'}}Create Experiment{{/link-to}} </li>
      <li> {{#link-to 'testmodel'}}Model test page{{/link-to}} </li>
	  </ul>
	</section>
</aside>

<div class="content-wrapper" style="height: 100vh;">
  {{outlet}}
</div>

<footer>
  &copy;2016 Lookit, Inc.
</footer>
</div>

