<h2> Experiments <button class="btn btn-primary pull-right">New Experiment</button> </h2>

<div class="row">
  {{#each model as |experiment|}}
      <div class="col-md-6 large">
        {{#link-to 'experiments.info' experiment.id}}
            <div><strong>{{experiment.id}}</strong>: <i> {{experiment.title}} </i></div>
        {{/link-to}}
          <div> {{experiment.description}} </div>
      </div>
  {{/each}}
</div>
