<h2> Dashboard </h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
              {{#each model as |experiment|}}
                  <div class="col-md-6 large">
                    {{#link-to "experiment" experiment.id}}
                        <div><strong>{{experiment.id}}</strong>: <i> {{experiment.title}} </i></div>
                    {{/link-to}}
                      <div> {{experiment.description}} </div>
                  </div>
              {{/each}}
            </div>
        </div>
    </div>
</div>
