<h2> Experiments <button class="btn btn-primary pull-right">New Experiment</button> </h2> 

<div class="row text-center">
	{{input type="text" placeholder="Filter" size="50"}}
</div>
<div class = "row">
</div>
