<h4> TODO: breadcrumbs </h4>

<ul>
{{#each model.sessions as |session|}}
    <li>session: {{session.profileId}}, {{session.experimentId}}</li>
{{/each}}
</ul>
<hr>

{{ experiment-detail experiment=model.experiment sessions=model.sessions onDelete=(action 'onDelete') onClone=(action 'onClone')}}
