<h2> Experiments <button class="btn btn-primary pull-right">New Experiment</button> </h2> 

<div class="row text-center">
	{{input type="text" placeholder="Filter" size="50"}}
</div>
<div class="row text-center">
	<button class="btn btn-default">Active</button>
	<button class="btn btn-default">Draft</button>
	<button class="btn btn-default">Archive</button>
</div>
<div class="row">
	<div class="col-xs-8">Title <i class="fa fa-sort"></i></div>
	<div class="col-xs-2">Begin Date <i class="fa fa-sort"></i></div>
	<div class="col-xs-2">End Date <i class="fa fa-sort"></i></div>
</div>
<hr>
