<section class="content">
<<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col" style="margin: 0 auto; display: flex; justify-content: left;">
    <button {{action "authenticate"}} class="btn btn-primary">
      Login via OSF to Begin
    </button>
  </div>
</div>
</section>

{{outlet}}
