<h1>Project Settings</h1>
<!--TODO: Add permissions widget that shows permission and optionally updates entire list -->


<h2>Add administrator to project</h2>
<p>Enter the permissions string for the desired user, one per line.</p>

{{permissions-editor userPermissions onchange=(action 'permissionsUpdated')}}

{{outlet}}
