<h1>Project Settings</h1>
<!--TODO: Add permissions widget that shows permission and optionally updates entire list -->

{{#each-in model.osfUsers as |userId permission|}}
    ID: {{userId}} / Permission level: {{permission}}<br>
    <hr>
{{/each-in}}

{{permissions-editor model.permissions onchange=(action 'permissionsUpdated')}}

{{outlet}}
